@charset "UTF-8";

* {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        background-attachment: fixed;
}
body {
    background-image: linear-gradient(to bottom,#FAD9D1, #EB9D98 );
}

main {
    height: auto;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 3px 10px #aa756f9a;
}

h1 {
    color:#01BAEF;
    text-align: center;
    text-shadow: 1px 1px 2px #025c759f;
}

h2 {
    color:#993866
}

p {
text-align: justify;
}