@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


* {
    padding: 0;
    margin: 0;
}

img {
    width: 100vw;
}

a {
    display: block;
    font-weight: bold;
    background-color: rgb(0, 7, 99);
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: rgb(62, 113, 252);
    text-decoration: underline;
}